# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
*.log
staticfiles/
media/

# OS / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# Test / tooling cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml